<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shiro.dao.sys.SysUserMapper">
	<resultMap id="BaseResultMap" type="shiro.model.sys.SysUser">
		<!-- WARNING - @mbggenerated -->
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="USER_LOGIN_NAME" property="userLoginName"
			jdbcType="VARCHAR" />
		<result column="PASSWORD" property="password" jdbcType="VARCHAR" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="CHAR" />
		<result column="LOCK_STATUS" property="lockStatus" jdbcType="CHAR" />
		<result column="TEL" property="tel" jdbcType="VARCHAR" />
		<result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
		<result column="HIRE_TIME" property="hireTime" jdbcType="DATE" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" />
		<result column="SEX" property="sex" jdbcType="CHAR" />
		<result column="ID_CARD" property="idCard" jdbcType="VARCHAR" />
		<result column="BIRTHDAY" property="birthday" jdbcType="DATE" />
		<result column="ADD_TIME" property="addTime" jdbcType="DATE" />
		<result column="EDIT_TIME" property="editTime" jdbcType="DATE" />
		<result column="PWD_EDIT_TIME" property="pwdEditTime" jdbcType="DATE" />
		<result column="ADD_USER" property="addUser" jdbcType="CHAR" />
		<result column="EDIT_USER" property="editUser" jdbcType="CHAR" />
		<result column="COMPANY_ID" property="companyId" jdbcType="CHAR" />
		<result column="DEPT_ID" property="deptId" jdbcType="CHAR" />
		<result column="POST_ID" property="postId" jdbcType="CHAR" />
		<result column="SHOP_ID" property="shopId" jdbcType="CHAR" />
		<result column="OLD_ID" property="oldId" jdbcType="CHAR" />
		<result column="OLD_COM_ID" property="oldComId" jdbcType="CHAR" />
		<result column="OLD_DEPT_ID" property="oldDeptId" jdbcType="CHAR" />
		<result column="OLD_POST_ID" property="oldPostId" jdbcType="CHAR" />
		<result column="OLD_SHOP_ID" property="oldShopId" jdbcType="CHAR" />
		<result column="OLD_USER_ID" property="oldUserId" jdbcType="CHAR" />
		<result column="REINSTATEMENT_TIME" property="reinstatementTime"
			jdbcType="DATE" />
		<result column="STAFF_NO" property="staffNo" jdbcType="VARCHAR" />
		<result column="RESIGNATE_TIME" property="resignateTime"
			jdbcType="DATE" />
		<result column="POST_LEVEL_NAME" property="postLevelName"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbggenerated -->
		ID, USER_LOGIN_NAME, PASSWORD, USER_NAME, STATUS, LOCK_STATUS, TEL,
		MOBILE, HIRE_TIME,
		EMAIL, SEX, ID_CARD, BIRTHDAY, ADD_TIME, EDIT_TIME, PWD_EDIT_TIME, ADD_USER,
		EDIT_USER,
		COMPANY_ID, DEPT_ID, POST_ID, SHOP_ID, OLD_ID, OLD_COM_ID, OLD_DEPT_ID,
		OLD_POST_ID,
		OLD_SHOP_ID, OLD_USER_ID, REINSTATEMENT_TIME, STAFF_NO, RESIGNATE_TIME,
		POST_LEVEL_NAME
	</sql>
	
	<insert id="saveUser" parameterType="shiro.model.sys.SysUser">
		<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
			SELECT replace(UUID(),'-','') from dual
		</selectKey>
		insert into t_sys_company
		(
		<include refid="Base_Column_List" />
		)
		values
		(#{id},#{userLoginName},#{password},#{userName},#{status},#{lockStatus},
		 #{tel},#{mobile},#{hireTime},#{email},#{sex},#{idCard},#{birthday},
		 #{addTime},#{editTime},#{pwdEditTime},#{addUser},#{editUser},
		 #{companyId},#{deptId},#{postId},#{shopId},#{oldId},#{oldComId},
		 #{oldDeptId},#{oldPostId},#{oldShopId},#{oldUserId},#{reinstatementTime},
		 #{resignateTime},#{postLevelName}
		)
	</insert>
</mapper>