<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shiro.dao.sys.SysRolePostMapper">
	<resultMap id="BaseResultMap" type="shiro.model.sys.SysRolePost">
		<!-- WARNING - @mbggenerated -->
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="ROLE_ID" property="roleId" jdbcType="CHAR" />
		<result column="POST_ID" property="postId" jdbcType="CHAR" />
	</resultMap>
</mapper>